<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/5deca06548.js" crossorigin="anonymous"></script>
    <title>Members Only</title>
  </head>
  <body>
    <div class="topper"></div>
    <nav class="navBar">
      <% if (user) {%>
      <div class="loggedInWrapper">
        <div class="loggedInUserName">
          Welcome, <%= user.username %>
        </div>
        <div>
          <button type="button" class="submitLogIn" id="create-post-button">
            <a href="/create-post">Create Post</a>
          </button>
        </div>
          <button class="secret-button">
            <img src="/public/images/question-mark.png" alt="question mark"></img>
          </button>
          <button type="button" class="submitLogIn" id="log-out-button">
            <a href="/log-out">Log Out</a>
          </button>
      </div>
      <% } else { %>
      <form action="/log-in" method="POST">
        <div class="navItem">
          <label for="username" class="label">Username</label>
          <input
            name="username"
            placeholder="Username"
            type="text"
            class="usernameInput"
          />
        </div>
        <div class="navItem">
          <label for="password" class="label">Password</label>
          <input
            name="password"
            type="password"
            class="passwordInput"
            placeholder="Password"
          />
          <button class="submitLogIn">Log In</button>
        </div>
        <div class="navItem">
          <button type="button" class="submitLogIn" id="signUpButton">
            <a href="/sign-up">Sign Up</a>
          </button>
        </div>
      </form>
      <%}%>
    </nav>
    <div class="wrapper">
      <!-- will be a loop containing all messages -->
      <% for(var i = 0; i < data.length; i++) {%>
      <div class="message-container">
        <div class="message-title"><%= data[i].title %></div>
        <div class="message-body">
          <%= data[i].body %>
        </div>
        <div class="message-timestamp"><%= data[i].added %></div>
        <div class="message-data">
          <% if (user && user.isMember === true) {%>
          <%= data[i].user %>
          <%}%>
        </div>
      </div>
      <% } %>
    <div class="overlay"></div>
    <div class="backgroundHero"></div>
  </body>
  <script>
    document.getElementById('signUpButton').onclick = function() {
        window.open("/sign-up", "_self");
    };
    document.getElementById('create-post-button').onclick = function() {
        window.open("/create-post", "_self");
    };
    document.getElementById('log-out-button').onclick = function() {
        window.open("/log-out", "_self");
    };
    
</script>
</html>
